/* Обнуляющий стиль */
@import "null.css";
/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* Оболочка */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* Ограничивающий контейнер */
.container {
	max-width: 810px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}
/* ================================ */
/* header */
.header__title {
	font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
	margin: 0px 0px 26px 0px;
}
.header__data {
	line-height: 1.6;
   color: #787A80;
	margin: 0px 0px 40px 0px;
}
.header__month {
	display: inline-block;
	padding: 0px 0px 0px 24px;
	background: url("../img/Calendar.svg") left no-repeat;
}

.header__minute {
	display: inline-block;
	margin: 0px 0px 0px 24px;
	padding: 0px 0px 0px 24px;
	background: url("../img/Clock.svg") left no-repeat;
}
img {
	margin: 0px 0px 60px 0px;
}
/* ============================================ */
/* main */
.main__text-1 {
	font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
	margin: 0px 0px 24px 0px;
}
.main__text-2 {
   line-height: 1.6;
   color: #424551;
	margin: 0px 0px 24px 0px;
}
.main__text-3 {
	line-height: 1.6;
   color: #424551;
	margin: 0px 0px 48px 0px;
}
.main__text-4 {
	font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
	background: url("../img/braces.svg") no-repeat;
	padding: 0px 0px 0px 58px;
	margin: 0px 0px 48px 0px;
}
.main__text-5 {
	line-height: 1.6;
   color: #424551;
	margin: 0px 0px 24px 0px;
}
.main__list {
	line-height: 1.6;
   color: #424551;
	margin: 0px 0px 24px 0px;
}
.main__list li {
	padding: 0px 0px 0px 32px;
	margin: 0px 0px 4px 0px;
	background: url("../img/check.svg") left center no-repeat;
}
.main__list li:last-child {
	margin-bottom: 0px;
}
/* ============================================ */
/* footer */
.footer__text {
	line-height: 1.6;
   color: #424551;
}